.counter-holder{
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
}

.digit{
   color: white;
   font-weight: bolder;
   font-size: 4rem;
   border:solid 1px;
   padding: 10px;
}